<html>
    <body bgcolor=#d4a3ae>
        <center>
        <h1> IRIS FLOWER DETECTION </h1><br>
        <form method="POST", action="{{url_for('predict')}}">
            Sepal Length :  <input type="text", name='sepal_length', placeholder="Enter Sepal Length of Iris"> <br><br>
            Sepal Width : <input type="text", name='sepal_width', placeholder="Enter Sepal Width of Iris"> <br><br><br></b>
            Petal Length :  <input type="text", name='petal_length', placeholder="Enter Petal Length of Iris"> <br><br>
            Petal Width :  <input type="text", name='petal_width', placeholder="Enter Petal Width of Iris"> <br><br>
            <input type="submit" , value='predict!' >
        </form>       
        <img src='static\flower1.jpg' alt="flower">
        </center>
    </body>
</html>