<html>
    <head>
    <style type="text/css">
        table{
            margin-left: 6%
        }
    </style>
    </head>
    <body bgcolor=#d4c2a3>
    <pre>


        Demo #2 - Multiple Linear Regression Model (2/2)


        Equation of the model:
        --------------------------------------
        sales($) = -152.0897 * tv_low($)    +
                    -73.4835 * tv_medium($) + 
                      2.8864 * radio($)     + 
                    217.6367   (default: tv_high)
        --------------------------------------


        Prediction 
        {{ output | safe }}
        <a href='/'>Go back to home page</a>
    </pre>
    </body>
</html>
