<html>
    <body bgcolor=#d4a3ae>
    <pre>


    Demo #3 - Tensorflow Classification Model (2/2)


    Prediction:

    {% if data == 'iris-setosa' %}
    <a href='https://en.wikipedia.org/wiki/Iris_setosa' target='_blank'>Iris Setosa</a>
    {% elif data == 'iris-versicolor' %}
    <a href='https://en.wikipedia.org/wiki/Iris_versicolor' target='_blank'>Iris Versiocolor</a>
    {% else %}
    <a href='https://en.wikipedia.org/wiki/Iris_virginica' target='_blank'>Iris Virginica</a>
    {% endif %}
    <br><br>
    <a href='/'>Go back to home page</a>
    </pre>
    </body>
</html>
